!**/packages/build/
!**/[Pp]ackages/build/
!*.[Cc]ache/
!.axoCover/settings.json
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!?*.[Cc]ache/
!packages/repositories.config
![Ss]tyle[Cc]op.targets
$RECYCLE.BIN/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.local.xml
**/.idea/**/dataSources.xml
**/.idea/**/dataSources/
**/.idea/**/dynamic.xml
**/.idea/**/modules.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/tasks.xml
**/.idea/**/workspace.xml
**/.idea/dictionaries
**/.idea/httpRequests/
**/.idea/shelf/*
**/packages/*
**/[Pp]ackages/*
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.Cache
*.cachefile
*.code-workspace
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.dsp
*.dsw
*.e2e
*.GhostDoc.xml
*.gpState
*.ilk
*.iobj
*.ipdb
*.jfm
*.jmconfig
*.ldf
*.lnk
*.log
*.mdf
*.meta
*.mm.*
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.Publish.xml
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.snupkg
*.stackdump
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.vbp
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsix
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*_h.h
*_i.c
*_i.h
*_p.c
*_wpftmp.csproj
*~
.*crunch*.local.xml
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.axoCover/*
.builds
.com.apple.timemachine.donotpresent
.cr/
.cr/personal
.DocumentRevisions-V100
.DS_Store
.fake/
.fseventsd
.history/
.idea/
.ionide/
.JustCode
.localhistory/
.LSOverride
.mfractor/
.ntvs_analysis.dat
.paket/paket.exe
.sass-cache/
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vs/
.vscode/*
.vshistory/
._*
AppPackages/
App_Data/*.ldf
App_Data/*.mdf
artifacts/
ASALocalRun/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bld/
BundleArtifacts/
ClientBin/
coverage*.info
coverage*.json
coverage*.xml
csx/
Desktop.ini
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
ehthumbs.db
ehthumbs_vista.db
FakesAssemblies/
FodyWeavers.xsd
Generated\ Files/
Generated_Code/
healthchecksdb
Icon
ipch/
MigrationBackup/
mono_crash.*
nCrunchTemp_*
Network Trash Folder
node_modules/
nunit-*.xml
OpenCover/
orleans.codegen.cs
Package.StoreAssociation.xml
packages/
paket-files/
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
rcf/
ScaffoldingReadMe.txt
ServiceFabricBackup/
sql/
StyleCopReport.xml
Temporary Items
TestResult.xml
Thumbs.db
Thumbs.db:encryptable
UpgradeLog*.htm
UpgradeLog*.XML
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Pp]ackages/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
_Chutzpah*
_NCrunch*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
~$*